*.class

# Package Files #
*.war
*.ear

# libraries
WebContent/WEB-INF/lib/

# sass cache
.sass-cache/

# vim
*.swp

# gradle
.gradle/
build/

# eclipse
.project
.classpath
.settings/

.idea
copyright-alerts-b2.iml
