<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Basic Building Block</display-name>

<!-- UI -->
	<!-- System Config -->
	<servlet>
		<servlet-name>SystemConfigRouter</servlet-name>
		<servlet-class>ca.ubc.ctlt.copyalerts.RestAPI.SystemConfig.SystemConfigJspRouter</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SystemConfigRouter</servlet-name>
		<url-pattern>/settings</url-pattern>
	</servlet-mapping>
	<!-- Alerts Module -->
	<!-- no routing as it's a jsp -->
	
<!-- API -->
	<!-- System Config -->
	<servlet>
		<servlet-name>SystemConfigApp</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>ca.ubc.ctlt.copyalerts.RestAPI.SystemConfig.SystemConfigApp</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SystemConfigApp</servlet-name>
		<url-pattern>/systemconfig/*</url-pattern>
	</servlet-mapping>

	<!-- Alerts Module -->
	<servlet>
		<servlet-name>AlertsModuleAPI</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>ca.ubc.ctlt.copyalerts.RestAPI.AlertsModule.AlertsModuleApp</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AlertsModuleAPI</servlet-name>
		<url-pattern>/alertsmodule/*</url-pattern>
	</servlet-mapping>
	
<!-- Startup Scheduler -->
	<!-- System Config -->
	<servlet>
		<servlet-name>SchedulerStarter</servlet-name>
		<servlet-class>ca.ubc.ctlt.copyalerts.RestAPI.SystemConfig.resources.SchedulerStarter</servlet-class>
		<load-on-startup>127</load-on-startup> <!-- make sure this servlet loads on startup, cause we need to start the scheduler process -->
	</servlet>
</web-app>