@mixin light-border
{
	border: 1px solid #999;
}
/* This stylesheet should only apply to the b2 config page */
#alertsysconfig
{
	#croninput
	{
		display: none;
	}

	input[type='text']
	{
		padding: 0.3em;
		margin-right: 0.8em;
		@include light-border;
		border-radius: 4px;
	}

	input[type='radio']
	{
		margin: 0;
		margin-right: 0.3em;
	}

	.radiolabel
	{
		margin-right: 1em;
	}

	#hours, #minutes
	{
		width: 3.5em;
	}

	label
	{
		display: inline-block;
		padding-right: 0.5em;
		margin-bottom: 0.5em;
	}

	input.save
	{
		display: block;
		margin-top: 1em;
		padding: 0.5em;
	}

	ul.attributeIds
	{
		margin: 1em;
		li
		{
			padding: 0.5em;
			margin-bottom: 0.2em;
			@include light-border;
		}
		a
		{
			margin-right: 0.5em;
			color: red;
		}
	}
	
	div.section
	{
		display: inline-block;
		vertical-align: top;
		width: 33%;
	}
}

