@mixin light-border
{
	border: 1px solid #999;
}
/* This stylesheet should only apply to the b2 config page */
#alertsysconfig
{
	#croninput
	{
		display: none;
	}

	input[type='text']
	{
		margin-right: 0.8em;
		@include light-border;
		border-radius: 4px;
	}

	input[type='radio']
	{
		margin: 0;
		margin-right: 0.3em;
	}

	.radiolabel
	{
		margin-right: 1em;
	}

	#hours, #minutes
	{
		width: 3.5em;
	}

	label
	{
		display: inline-block;
		padding-right: 0.5em;
		margin-bottom: 0.5em;
	}

	input.save
	{
		padding: 0.5em;
	}

	div.savesection
	{
		margin-top: 1em;
		display: block;
	}

	div.section
	{
		display: inline-block;
		vertical-align: top;
		width: 33%;
	}

	h3
	{
		&.running, &.notrunning, &.runerror, &.unavailable, &.limit
		{
			width: 12em;
			margin-top: 0em;
			margin-left: 2em;
			padding-top: 0.3em;
			padding-bottom: 0.3em;
			color: white;
			text-align: center;
		}
		&.running
		{
			background: mediumseagreen;
		}
		&.notrunning
		{
			background: lightslategray;
		}
		&.runerror
		{
			background: firebrick;
		}
		&.unavailable
		{
			border: 1px solid gray;
			color: black;
		}
		&.limit
		{
			background: royalblue;
		}
	}

	.killjob
	{
		margin-left: 2em;
		padding: 0.2em;
	}

	dl
	{
		margin-bottom: 1em;
		dd
		{
			margin-left: 2em;
		}
	}

	.savemsg
	{
		padding: 0.5em;
		color: white;
		&.saving
		{
			background: steelblue;
		}

		&.success
		{
			background: mediumseagreen;
		}

		&.error
		{
			background: firebrick;
		}
	}

	ol
	{
		padding-top: 0.5em;
		list-style: decimal inside;
	}

	.templateform
	{
		margin-top: 0.5em;
	}

}

