/* This stylesheet should only apply to the b2 config page */
#alertsysconfig #croninput {
  display: none; }
#alertsysconfig input[type='text'] {
  padding: 0.3em;
  margin-right: 0.8em;
  border: 1px solid #999;
  border-radius: 4px; }
#alertsysconfig input[type='radio'] {
  margin: 0;
  margin-right: 0.3em; }
#alertsysconfig .radiolabel {
  margin-right: 1em; }
#alertsysconfig #hours, #alertsysconfig #minutes {
  width: 3.5em; }
#alertsysconfig label {
  display: inline-block;
  padding-right: 0.5em;
  margin-bottom: 0.5em; }
#alertsysconfig input.save {
  display: block;
  margin-top: 1em;
  padding: 0.5em; }
#alertsysconfig ul.attributeIds {
  margin: 1em; }
  #alertsysconfig ul.attributeIds li {
    padding: 0.5em;
    margin-bottom: 0.2em;
    border: 1px solid #999; }
  #alertsysconfig ul.attributeIds a {
    margin-right: 0.5em;
    color: red; }
#alertsysconfig div.section {
  display: inline-block;
  vertical-align: top;
  width: 33%; }
#alertsysconfig h3.running, #alertsysconfig h3.notrunning, #alertsysconfig h3.runerror, #alertsysconfig h3.unavailable, #alertsysconfig h3.limit {
  width: 12em;
  margin-top: 0em;
  margin-left: 2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  color: white;
  text-align: center; }
#alertsysconfig h3.running {
  background: mediumseagreen; }
#alertsysconfig h3.notrunning {
  background: lightslategray; }
#alertsysconfig h3.runerror {
  background: firebrick; }
#alertsysconfig h3.unavailable {
  border: 1px solid gray;
  color: black; }
#alertsysconfig h3.limit {
  background: royalblue; }
#alertsysconfig .killjob {
  margin-left: 2em;
  padding: 0.2em; }
#alertsysconfig dl {
  margin-bottom: 1em; }
  #alertsysconfig dl dd {
    margin-left: 2em; }
